@import 'tailwindcss';
@import './MantineInput.css';
@import './Table.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../node_modules/@inertiaui/modal-react/src/**/*.{js,jsx}';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --animate-scan: scan 5s linear infinite;
    @keyframes scan {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }
}

/* MODAL SHADOW */
@keyframes modalShadowDefault {
    0% {
        box-shadow: 0 3px 10px 0px theme('colors.blue.500 / 0.4');
    }
    50% {
        box-shadow: 0 0 25px 12px theme('colors.blue.500 / 0.4');
    }
    100% {
        box-shadow: 0 3px 10px 0px theme('colors.blue.500 / 0.6');
    }
}

.modal-default {
    animation: modalShadowDefault 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

/* MOBILE MENU */
.line {
    fill: none;
    transition:
        stroke-dasharray 400ms,
        stroke-dashoffset 400ms;
    stroke: currentColor;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham .top {
    stroke-dasharray: 40 121;
}
.ham .bottom {
    stroke-dasharray: 40 121;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*[data-opened='true'] .ham {
    transform: rotate(45deg);
}
*[data-opened='true'] .ham .top {
    stroke-dashoffset: -68px;
}
*[data-opened='true'] .ham .bottom {
    stroke-dashoffset: -68px;
}

/* MOBILE NAVIGATION */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobile-menu-enter {
    animation: slideDown 0.2s ease-out;
}

.mobile-menu-backdrop {
    animation: fadeIn 0.2s ease-out;
}

.\*\:disabled-bg > *,
.disabled-bg {
    opacity: 1;
    background-size: 7px 7px;

    background-image: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.1) 0.7000000000000001px,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 50%
    );
}

.\*\:refunded-bg > *,
.refunded-bg {
    opacity: 1;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.1) 0.7000000000000001px,
        rgba(53, 230, 100, 0.1) 0,
        rgba(53, 230, 100, 0.1) 50%
    );
}

.\*\:striped-amber-bg > *,
.striped-amber-bg {
    opacity: 1;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(206, 20, 20, 0.1) 0,
        rgba(0, 0, 0, 0.1) 0.7000000000000001px,
        rgba(230, 162, 53, 0.1) 0,
        rgba(230, 162, 53, 0.1) 50%
    );
}
