.root {
    &[data-loading] .inner {
        transform: none;
        opacity: 1;
    }
}
*[data-expanded='true'] .root {
    background-color: var(--mantine-color-zinc-light-hover);
}

@media (max-width: 768px) {
    .root {
       width: 100%;
       height: 50px;
    }
    .inner {
        justify-content: flex-start;
    }
    *[data-brand] .root {
        height: 40px;
    }
}